.header-container {
  display: flex;
  width: 100%;
  height: 5.5rem;
  background-color: var(--secondary-color1);
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  box-sizing: border-box;
}

.header-logo {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.header-logo-img {
  background-image: url("../../../src/assets/icons/BioKey_Logo.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  aspect-ratio: 1;
}

.header-logo-text {
  font-size: 2rem;
  font-weight: 800;
  color: #e0e3f8;
  margin-left: 0.7rem;
  margin-top: 0.3rem;
}

.header-search-container {
  display: flex;
  flex-direction: row;
  height: 80%;
  align-items: center;
  width: 30%;
  position: relative;
}

.header-search-icon {
  position: absolute;
  left: 1rem;
  font-size: 1.2em;
}

.header-search-input {
  width: 100%;
  height: 100%;
  padding: 0.7rem;
  box-sizing: border-box;
  background-color: var(--light-color1);
  border: none;
  font-family: Afacad;
  font-size: 1.1rem;
  color: var(--text-color1);
  border-radius: 10px;
  padding-left: 3rem;
}

.header-search-input::placeholder {
  color: var(--text-color2);
}

.header-right {
  display: flex;
  flex-direction: row;
  height: 100%;
  align-items: center;
  gap: 2rem;
  justify-content: center;
}

.header-notifications-container {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;
  aspect-ratio: 1;
  border-radius: 100px;
  transition: background-color 0.2s ease-in-out;
}

.header-notifications-container:hover {
  background-color: #3f434b;
}

.header-profile-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 85%;
  cursor: pointer;
  border-radius: 100px;
}

.cancel-icon-search {
  position: absolute;
  right: 1rem;
  font-size: 1.2em;
  cursor: pointer;
  top: 25%;
}

.header-profile-img {
  height: 100%;
  aspect-ratio: 1;
  object-fit: contain;
  border-radius: 100px;
}

.search-results-dropdown {
  position: absolute;
  top: 5em;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--light-color2);
  padding: 1.5em 2em;
  align-self: center;
  z-index: 1;
  border-radius: 10px;
  border: 1px solid #a6a6a63a;
  max-height: 70vh;
  overflow-y: auto;
  min-width: 400px;
}

.search-results-dropdown::-webkit-scrollbar {
  width: 0;
  background-color: #171b1f4f;
  border-radius: 10px;
}

.search-results-dropdown::-webkit-scrollbar-thumb {
  background-color: var(--primary-color);
  border-radius: 10px;
}

.search-result-item {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  align-items: center;
  padding: 1em 0;
  cursor: pointer;
  width: 100%;
  justify-content: space-between;
  border-bottom: 1px solid #a6a6a63a;
  flex: 1;
}

.search-result-item-name {
  font-size: 1.1rem;
  color: var(--text-color3);
  width: 50%;
}

.header-profile-fallback {
  width: 3rem;
  height: 3rem;
  aspect-ratio: 1;
  background-color: var(--text-color2);
  color: var(--text-color3);
  font-size: 1.2rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
}

.notification-modal-container {
  position: absolute;
  padding: 1.2rem 1rem;
  z-index: 1;
  background-color: var(--light-color2);
  right: 8rem;
  top: 3rem;
  border-radius: 10px;
  flex-direction: column;
  gap: 2rem;
  align-items: flex-start;
  border: 1px solid #a6a6a630;
}

.notification-modal-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10rem;
  margin-bottom: 1rem;
}
.notification-modal-content {
  display: flex;
  gap: 1.5rem;
  flex-direction: column;
}

.notification-modal-title {
  font-size: 1.4rem;
  font-weight: 450;
}

.notification-item-title {
  font-size: 1.15rem;
  font-weight: 450;
  color: var(--text-color3);
}

.notification-item-message {
  font-size: 1.1rem;
  font-weight: 450;
  color: var(--text-color2);
}

.notification-modal-clear-all {
  font-size: 1.1rem;
  color: #9366e2;
  cursor: pointer;
}

.notification-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.notification-item-date {
  margin-bottom: 0.5rem;
  color: #cacaca;
}

.notification-item-icon {
  width: 0.7rem;
  height: 0.7rem;
  background-color: var(--primary-color);
  border-radius: 100px;
  margin-right: 1rem;
}

.profile-options-modal {
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 1;
  background-color: var(--light-color2);
  right: 2rem;
  top: 5.5rem;
  border: 1px solid #a6a6a630;
  border-radius: 10px;
  overflow: hidden;
  height: fit-content;
}

.profile-option {
  display: flex;
  flex: 1;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  font-size: 1.1rem;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
  padding-left: 1.2rem;
  padding-right: 5rem;
}

.profile-option:hover {
  background-color: #a6a6a630;
}
