.home-container {
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  border-top-left-radius: 15px;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  background-color: var(--light-color2);
  overflow-y: scroll;
}

.home-container::-webkit-scrollbar {
  width: 0px;
}

.home-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;
}

.home-header-text {
  font-size: 1.7rem;
  color: var(--text-color3);
  font-weight: 500;
}

.home-add-files-btn {
  background-color: var(--primary-color);
  color: var(--text-color3);
  padding: 0.5rem 1rem;
  border-radius: 10px;
  font-size: 1.3rem;
  font-weight: 500;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 0.5em;
}

.home-content {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  flex: 1;
  width: 100%;
}

.home-storage-overview {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  background-color: var(--light-color1);
  border-radius: 15px;
  box-sizing: border-box;
  padding: 1em;
  gap: 2rem;
}

.home-storage-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.premium-btn {
  background-color: rgba(140, 117, 29, 0.3);
  padding: 0.3em 0.7em;
  border-radius: 10px;
  font-size: 1.1rem;
  font-weight: 400;
  color: rgba(255, 224, 104, 0.5);
  cursor: pointer;
}

.home-card-title {
  font-size: 1.3rem;
  color: var(--text-color3);
  font-weight: 500;
}

.home-storage-content {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: flex-end;
}

.home-storage-text-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.home-storage-progress-track {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 0.7em;
  background-color: #191d2470;
  border-radius: 15px;
  position: relative;
  margin-top: 0.5em;
}

.home-storage-space-text {
  font-size: 1.1rem;
  color: var(--text-color2);
  font-weight: 400;
}

.home-storage-progress-bar {
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(
    90deg,
    #3c49c0 0%,
    #404cb2 26%,
    #4c58c8 63%,
    #5462df 100%
  );
  border-radius: 15px;
}

.home-card-see-all {
  font-size: 1.2rem;
  color: #9366e2;
  cursor: pointer;
}

.home-quick-access {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: fit-content;
}

.quick-access-items {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  width: 100%;
  flex: 1;
  align-items: center;
  justify-content: space-between;
}

.quick-access-item {
  display: flex;
  background-color: var(--light-color1);
  padding: 1em 1em;
  border-radius: 15px;
  gap: 1em;
  flex-direction: column;
  width: 100%;
  align-items: flex-start;
}

.quick-access-item-count {
  font-size: 1.2em;
  color: var(--text-color2);
}

.quick-access-item-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1em;
}

.quick-access-item-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--light-color2);
  padding: 0.7em;
  border-radius: 7px;
  box-sizing: border-box;
  width: 3rem;
  height: 3rem;
}

.quick-access-item-icon {
  width: 100%;
  aspect-ratio: 1;
  object-fit: contain;
}

.quick-access-item-text {
  font-size: 1.35em;
  color: var(--text-color3);
  font-weight: 500;
}

.home-recent-files {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex: 1;
}

.home-recent-files-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1em;
}

.recent-files-list {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 1rem;
  flex: 1;
}

.recent-files-list::-webkit-scrollbar {
  width: 0.5em;
  background-color: #171b1f4f;
  border-radius: 10px;
}

.no-recent-files{
  font-size: 1.1rem;
  font-style: italic;
  align-self: center;
}

.recent-files-list::-webkit-scrollbar-thumb {
  background-color: var(--primary-color);
  border-radius: 10px;
}

.recent-file-item {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  align-items: center;
  cursor: pointer;
  padding: 0.5rem 0rem;
  border-radius: 5px;
  transition: all 0.1s ease-in-out;
  position: relative;
  width: 100%;
}

.recent-file-item:hover {
  background-color: #a6a6aa0e;
  padding: 0.5rem 0.5rem;
}

.recent-more-icon-container {
  padding: 0rem;
  transition: all 0.1s ease-in-out;
  border-radius: 1000px;
  aspect-ratio: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.5rem;
  width: 2.5rem;
}

.recent-file-more-options {
  position: absolute;
  background-color: var(--secondary-color1);
  padding: 1rem;
  right: 0;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  min-width: 7rem;
  z-index: 1;
  top: 4rem;
  right: 2rem;
}

.recent-file-more-option:hover {
  transform: scale(1.03);
}

.recent-more-icon-container:hover {
  background-color: #a6a6aa29;
}

.recent-file-icon-container {
  display: flex;
  width: 4rem;
  height: 4rem;
  object-fit: contain;
  border-radius: 5px;
}

.recent-file-icon {
  width: 100%;
  aspect-ratio: 1;
  object-fit: contain;
  border-radius: 5px;
}

.recent-file-item-right {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex: 1;
}

.recent-file-item-metadata {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  color: var(--text-color2);
  font-size: 1rem;
}

.recent-file-text {
  font-size: 1.1rem;
  color: var(--text-color3);
  font-weight: 400;
}

.premium-btn:hover,
.home-card-see-all:hover {
  transform: scale(1.03);
  transition: all 0.2s ease-in-out;
}

.quick-access-item {
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  border-radius: 10px;
}

.quick-access-item:hover {
  transform: translateY(-5px);
}
