.authpage-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: var(--secondary-color1);
  height: 100vh;
}

.authpage-header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 1.5em;
}

.authpage-header-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  height: fit-content;
  width: fit-content;
}

.logo {
  height: 4em;
  aspect-ratio: 1;
  object-fit: contain;
}

.logo-text {
  font-size: 2.2em;
  font-weight: bold;
  color: #e0e3f8;
  margin-left: 0.2em;
  margin-top: 0.5em;
}

.authpage-content {
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: row;
}

.authpage-left {
  width: 50%;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.authpage-left-card.login {
  background-color: var(--light-color1);
  border-radius: 1.5em;
  padding: 2.5em 2.5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 65%;
  max-height: 500px;
}

.authpage-left-card.signup {
  background-color: var(--light-color1);
  border-radius: 1.5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 75%;
  padding: 2.5em;
  overflow: hidden;
}

@media (max-width: 1920px) {
  .authpage-left-card.signup {
    height: 63vh;
    max-height: none;
  }
}

.authpage-left-card-toggle-btn {
  font-size: 2em;
  font-weight: 600;
  margin-bottom: 1em;
  flex-direction: row;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 1em;
}

.auth-toggle-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--primary-color);
  font-size: 0.6em;
  font-weight: 500;
  flex: 1;
  padding: 0.7em;
  border-radius: 0.5em;
  background-color: transparent;
  transition: all 0.5s ease;
  cursor: pointer;
  gap: 0.5em;
  color: var(--text-color2);
}

.auth-toggle-btn:hover {
  background-color: var(--primary-color);
}

.auth-toggle-btn.active {
  background-color: var(--primary-color);
  color: var(--text-color3);
}

.toggle-icon.active-icon {
  color: var(--text-color3);
}

.authpage-form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.authpage-form-groups {
  display: flex;
  flex-direction: column;
}

.auth-form-group {
  display: flex;
  flex-direction: column;
  gap: 0.7em;
  margin-bottom: 1em;
}

.auth-form-label {
  font-size: 1.3em;
  font-weight: 500;
}

.auth-form-input {
  padding: 0.7rem;
  background-color: var(--light-color2);
  border: none;
  outline: none;
  color: var(--text-color3);
  font-family: Afacad;
  font-size: 1.2em;
  border-radius: 0.4em;
}

.radio-group {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.radio-options {
  display: flex;
  margin-top: 0.5em;
  gap: 3em;
}

.radio-options label {
  display: flex;
  gap: 0.3em;
  font-size: 1.2em;
  cursor: pointer;
}

.auth-form-group select {
  border-radius: 0.5em;
  font-size: 1.2em;
  outline: none;
  color: #757575;
  transition: 0.3s;
}

.auth-form-btn {
  padding: 0.7em;
  background-color: var(--primary-color);
  border: none;
  border-radius: 0.4em;
  font-weight: 600;
  font-size: 1.2em;
  margin-top: 1.2em;
  cursor: pointer;
  transition: all 0.3s ease;
}

.auth-form-btn:hover {
  background-color: #560ac9;
}

.signup-navigate-text {
  font-size: 1.2em;
  color: var(--text-color2);
  text-align: center;
  margin-top: 2em;
}

.authpage-right {
  width: 50%;
  flex: 1;
  display: flex;
  background-image: url("../../../src/assets/images/landing-illustration.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.authpage-form-signup {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100%;
  overflow-y: scroll;
}

.authpage-form-signup::-webkit-scrollbar {
  width: 0px;
}
.authpage-form-groups-signup {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 2em;
}

.link-text {
  color: #9366e2;
  cursor: pointer;
  text-decoration: underline;
}

.link-text:hover {
  color: #7a4dc4;
}

.radio {
  accent-color: #9366e2;
  width: 1.2em;
  height: 1.2em;
  border-radius: 50%;
  -webkit-appearance: none;
  appearance: none;
  border: 2px solid #9366e2;
  transition: all 0.3s ease;
}

.radio:checked {
  background-color: #9366e2;
  border-color: #9366e2;
}

.radio:hover {
  background-color: #d1b3e0;
  border-color: #d1b3e0;
}

.radio:checked:hover {
  background-color: #9366e2;
  border-color: #9366e2;
}

.forgot-password {
  color: var(--text-color2);
  font-size: 1.2em;
  cursor: pointer;
}

.forgot-password:hover {
  color: #9366e2;
}
