.audios-container {
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  background-color: var(--light-color2);
  border-top-left-radius: 15px;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.audios-container-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  height: 12%;
  margin-bottom: 2rem;
}

.audios-search-input {
  width: 15rem;
  padding: 0.7rem 1rem;
  border-radius: 10px;
  background-color: var(--light-color1);
  border: none;
  font-family: Afacad;
  padding-left: 3rem;
  font-size: 1.1rem;
  color: var(--text-color3);
  outline: transparent;
}

.add-audios-btn {
  background-color: var(--primary-color);
  color: var(--text-color3);
  padding: 0.5rem 1rem;
  border-radius: 10px;
  font-size: 1.3rem;
  font-weight: 500;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 0.5em;
  margin-left: 1rem;
}

.audios-container-header-options {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
}

.audios-container-title {
  font-size: 1.7rem;
  color: var(--text-color3);
  font-weight: 500;
}

.audios-container-body {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 85%;
}

.audios-container-list {
  display: flex;
  flex-direction: row;
  width: 100%;
  overflow-y: auto;
  flex-wrap: wrap;
  justify-content: center;
  padding-right: 1rem;
  gap: 2rem;
  align-items: center;
}
.audios-container-list::-webkit-scrollbar {
  width: 0.5em;
  background-color: #171b1f4f;
  border-radius: 10px;
}

.audios-container-list::-webkit-scrollbar-thumb {
  background-color: var(--primary-color);
  border-radius: 10px;
}

.audio-list-item {
  display: flex;
  flex-direction: column;
  transition: transform 0.4s;
  border-radius: 15px;
  max-width: 15rem;
  height: 13rem;
  padding: 1em;
  box-sizing: border-box;
  background-color: var(--light-color1);
  cursor: pointer;
  flex: 1;
  min-width: 13rem;
  border: 1px solid #a6a6aa1f;
}

.audio-list-item-audio-container {
  display: flex;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1;
  height: 80%;
  position: relative;
}

.audio-overlay-black {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
}

.audio-thumbnail {
  width: 100%;
  height: 100%;
  object-fit: cover;
  aspect-ratio: 1;
  border-radius: 10px;
}

.audio-list-item-details {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: 1rem;
}

.audio-list-item-name {
  font-size: 1.1rem;
  color: var(--text-color3);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 70%;
  min-width: 50px;
  flex-grow: 1;
}

.audio-list-item-size {
  font-size: 1rem;
  color: var(--text-color2);
  flex-shrink: 0;
}

.audios-sort-dropdown {
  position: absolute;
  top: 11rem;
  right: 5rem;
  background-color: var(--light-color1);
  padding: 0.7rem 1rem;

  color: var(--text-color3);

  font-size: 1rem;
  gap: 1rem;
  display: flex;
  align-items: center;
  border-radius: 10px;
  border: 1px solid #a6a6aa1f;
}

.audios-sort-dropdown select {
  padding: 0.3rem;
  background-color: var(--secondary-color1);
  border: none;
  outline: none;
  font-family: Afacad;
  color: var(--text-color3);
  border-radius: 10px;
  font-size: 1rem;
}
