.account-card-container {
  display: flex;
  flex-direction: column;
  width: 50rem;
  background-color: var(--light-color1);
  border-radius: 1rem;
  padding: 2rem;
  max-height: 40rem;
  position: relative;
  height: fit-content;
}

.account-card-close {
  cursor: pointer;
  color: var(--text-color3);
}

.account-card-profile {
  display: flex;
  justify-content: center;
}

.account-card-profile-img-container {
  position: relative;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  display: flex;
}

.account-card-profile-img {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  object-fit: cover;
  border: 0.2rem solid var(--primary-color);
}

.account-card-edit-icon-container {
  position: absolute;
  bottom: 1rem;
  background-color: var(--secondary-color1);
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 0;
}

.account-card-body {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1rem;
}

.account-card-info-group {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.account-card-info-label {
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--text-color1);
}

.account-card-info-group input {
  font-size: 1.2rem;
  padding: 0.3rem 0;
  border: none;
  outline: none;
  background-color: transparent;
  border-bottom: 0.1rem solid #a6a6a638;
  font-family: Afacad;
  color: var(--text-color3);
}

.account-card-info-group input:disabled {
  color: var(--text-color2);
}

.account-card-info-text {
  font-size: 1.4rem;
  color: var(--text-color2);
  padding: 0.3rem 0;
}

.account-card-footer {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}

.account-card-edit-btn,
.account-card-change-password-btn,
.account-card-delete-btn {
  padding: 0.4rem 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
  border: none;
  transition: background 0.3s ease-in-out;
  color: var(--text-color3);
  font-size: 1.1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.account-card-edit-btn {
  background-color: var(--primary-color);
  font-weight: 500;
}

.account-card-delete-btn {
  background-color: var(--red);
  font-weight: 500;
}

.account-card-change-password-btn {
  background-color: transparent;
  color: #9266e2;
  text-decoration: underline;
}

.profile-image-view {
  width: fit-content;
  height: fit-content;
}

.profile-image-view-img {
  max-width: 50rem;
  aspect-ratio: 1;
  max-height: 40rem;
  object-fit: contain;
}

.change-password-modal {
  width: fit-content;
  height: fit-content;
  background-color: var(--light-color1);
  border-radius: 1rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 500;
  border: 1px solid #a6a6a638;
}

.change-password-modal-label {
  font-size: 1.15rem;
  color: var(--text-color3);
  font-weight: 500;
}

.change-password-modal-input-group {
  display: flex;
  align-items: center;
  margin-top: 0.7rem;
  margin-bottom: 0.7rem;
}

.change-password-modal-input {
  font-size: 1.1rem;
  padding: 0.5rem 1rem;
  border: none;
  outline: none;
  background-color: transparent;
  border: 1px solid #a6a6a638;
  font-family: Afacad;
  border-radius: 7px;
  color: var(--text-color3);
  margin-left: 0.5rem;
  width: 13rem;
}

.change-password-modal-button {
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
  border: none;
  transition: background 0.3s ease-in-out;
  color: var(--text-color3);
  font-size: 1.1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  background-color: var(--primary-color);
  font-weight: 500;
  height: fit-content;
  width: fit-content;
}
