.add-password-container {
  background: var(--light-color2);
  padding: 2rem;
  border-radius: 10px;
  width: fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  max-height: 80vh;
  overflow-y: auto;
}

.add-password-container::-webkit-scrollbar {
  width: 0px;
  background-color: var(--primary-color);
  border-radius: 10px;
}

.add-password-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 1.5rem;
}

.add-password-title {
  font-weight: 600;
  font-size: 1.5rem;
}

.add-password-form {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.add-password-group {
  margin-bottom: 1rem;
}

.add-password-label {
  font-weight: bold;
  margin-bottom: 0.5rem;
  display: block;
  font-size: 1.2rem;
}

.add-password-input,
.add-password-textarea {
  width: 30rem;
  padding: 0.7rem;
  border: 1px solid #a6a6a631;
  border-radius: 10px;
  background-color: var(--light-color2);
  font-family: Afacad;
  font-size: 1.1rem;
  box-sizing: border-box;
  color: var(--light-color3);
  outline: none;
}

.add-password-submit {
  background-color: var(--primary-color);
  padding: 0.7rem;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 1.1rem;
  font-weight: 600;
}
