.passwords-container {
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  background-color: var(--light-color2);
  border-top-left-radius: 15px;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.passwords-container-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 12%;
  margin-bottom: 2rem;
}

.passwords-search-input {
  width: 15rem;
  padding: 0.7rem 1rem;
  border-radius: 10px;
  background-color: var(--light-color1);
  border: none;
  font-family: Afacad;
  padding-left: 3rem;
  font-size: 1.1rem;
  color: var(--text-color3);
  outline: transparent;
}

.add-passwords-btn {
  background-color: var(--primary-color);
  color: var(--text-color3);
  padding: 0.5rem 1rem;
  border-radius: 10px;
  font-size: 1.3rem;
  font-weight: 500;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 0.5em;
  margin-left: 1rem;
}

.passwords-container-header-options {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
}

.passwords-container-title {
  font-size: 1.7rem;
  color: var(--text-color3);
  font-weight: 500;
}

.passwords-container-body {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 88%;
}

.passwords-list {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: row;
  gap: 1.5rem;
  overflow-y: auto;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.passwords-list::-webkit-scrollbar {
  width: 0px;
}

.passwords-list-item {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 1rem;
  border: 1px solid #a6a6aa1f;
  border-radius: 15px;
  background-color: var(--light-color1);
  flex: 1;
  justify-content: space-between;
  min-width: fit-content;
  position: relative;
  overflow: hidden;
  max-width: fit-content;
}

.password-list-item-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

.password-details {
  display: flex;
  justify-content: space-between;
  flex: 1;
  flex-direction: column;
  width: 100%;
  padding-top: 1rem;
  border-top: 1px solid #a6a6aa1f;
  align-items: flex-start;
  gap: 2rem;
}

.password-actions-item {
  display: flex;
  align-items: center;
  width: 100%;
}

.password-list-item-label {
  font-size: 1.2rem;
  margin-right: 0.5rem;
}

.password-list-item-value input {
  padding: 0.5rem 1rem;
  border-radius: 7px;
  font-size: 1.2rem;
  background-color: #a0a0a009;
  color: var(--text-color3);
  font-family: Afacad;
  border: none;
  outline: none;
  flex: 1;
}

.passwords-list-item-breach-status {
  font-size: 1.1rem;
  margin-top: 1rem;
  font-style: italic;
}

.passwords-list-item-breach-status.breached {
  color: #a04747;
}

.passwords-list-item-breach-status.notBreached {
  color: #3a7d44;
}

.password-list-item-value {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.password-name {
  font-size: 1.3rem;
  font-weight: 600;
}

.password-list-item-icon-container {
  width: 4rem;
  height: 4rem;
  aspect-ratio: 1;
  border-radius: 100px;
  align-items: center;
  justify-content: center;
}

.password-list-item-icon {
  width: 100%;
  height: 100%;
  border-radius: 100px;
}

.passwords-sort-dropdown {
  position: absolute;
  top: 11rem;
  right: 5rem;
  background-color: var(--light-color1);
  padding: 0.7rem 1rem;

  color: var(--text-color3);

  font-size: 1rem;
  gap: 1rem;
  display: flex;
  align-items: center;
  border-radius: 10px;
  border: 1px solid #a6a6aa1f;
}

.passwords-sort-dropdown select {
  padding: 0.3rem;
  background-color: var(--secondary-color1);
  border: none;
  outline: none;
  font-family: Afacad;
  color: var(--text-color3);
  border-radius: 10px;
  font-size: 1rem;
}

.password-list-item-icon-fallback {
  background-color: #6419e67e;
  width: 4rem;
  height: 4rem;
  aspect-ratio: 1;
  border-radius: 100px;
  font-size: 2rem;
  font-weight: 800;
}

.password-actions {
  display: flex;
  gap: 1rem;
}
